---
import { Icon } from "astro-icon/components";

const RRSS = [
  {
    url: "https://www.facebook.com/agitalosuave",
    label: "Facebook",
    icon: "facebook",
  },
  {
    url: "https://www.instagram.com/agitalosuave",
    label: "Instagram",
    icon: "instagram",
  },
  {
    url: "https://www.tiktok.com/@agitalosuave",
    label: "TikTok",
    icon: "tiktok",
  },
];

const links = [
  {
    title: "Blog",
    children: [
      {
        url: "/recetas",
        label: "Recetas",
      },
      {
        url: "/bitacora",
        label: "Bitácora",
      },
      {
        url: "/tecnica",
        label: "Técnica",
      },
      {
        url: "/tips",
        label: "Tips",
      },
    ],
  },
  {
    title: "Acerca de",
    children: [
      { url: "/acerca", label: "Agítalo Suave" },
      {
        url: "/legal/sobre-mi",
        label: "Sobre mi",
      },
      {
        url: "/contacto",
        label: "Contacto",
      },
    ],
  },
  {
    title: "Legal",
    children: [
      {
        url: "/legal/politica-de-privacidad",
        label: "Política de Privacidad",
      },
      {
        url: "/legal/terminos-y-condiciones",
        label: "Términos y Condiciones",
      },
      {
        url: "/legal/exencion-de-responsabilidad",
        label: "Exención de Responsabilidad",
      },
    ],
  },
];

const year = new Date().getFullYear();
---

<footer class="bg-[#8c3f95]">
  <div
    class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="text-white">
          <p class="text-sm font-semibold">
            <span class="text-4xl capitalize font-cursive">Agítalo Suave</span>
            <br />
            <span class="italic"
              >Explorando el mundo de los cócteles, a mi ritmo</span
            >
          </p>
          <p class="mt-5 font-thin">
            Este sitio está dirigido a personas mayores de edad. El contenido
            relacionado con bebidas alcohólicas es solo para fines informativos
            y recreativos. Por favor, bebe con responsabilidad. <strong
              >El consumo de alcohol es perjudicial para la salud.</strong
            >
          </p>
        </div>
        <ul class="mt-8 flex gap-6">
          {
            RRSS.map((link) => (
              <li>
                <a
                  href={link.url}
                  rel="noreferrer"
                  target="_blank"
                  class="text-white transition hover:text-rose-200"
                >
                  <span class="sr-only">{link.label}</span>
                  <Icon name={link.icon} class="size-6" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4"
      >
        <div></div>
        {
          links.map((link) => (
            <div>
              <p class="font-medium text-white">{link.title}</p>

              <ul class="mt-6 space-y-4 text-sm">
                {link.children.map((child) => (
                  <li>
                    <a
                      href={child.url}
                      class="text-white transition hover:text-rose-200 block"
                    >
                      {child.label}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    <p class="text-xs text-white">
      &copy; {year}. Made with ❤️ by an enthusiastic bartender
    </p>
  </div>
</footer>
