---
import { Image } from "astro:assets";
import { formatDate } from "../utils";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post: { data, slug } } = Astro.props;
const { title, image, date, excerpt } = data;
---

<article
  class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg bg-background"
>
  <Image
    alt={title}
    src={image}
    class="h-56 w-full object-cover"
    width={400}
    height={400}
    quality="high"
  />

  <div class="bg-background p-4 sm:p-6">
    <time class="block text-xs text-gray-500">
      { formatDate(date) }
    </time>

    <a href={`/blog/post/${slug}`}>
      <h3 class="mt-0.5 text-lg text-primary">{title}</h3>
    </a>

    {
      excerpt && (
        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
          {excerpt}
        </p>
      )
    }
  </div>
</article>
